<style>
  body {
    margin: 50px 200px;
  }
  h1 {
    margin-bottom: 50px;
  }
  ul {
    font-family: Helvetica;
    font-size: 20px;
  }
  .started {
    font-size: 100px;
  }
  .blink {
    text-decoration: blink;
  }
</style>

<h1>Match <%= @match.id %></h1>

<ul>
  <% @match.players.each do |player| %>
  <li><%= player.name %></li>
  <% end %>
</ul>

<marquee scrolldelay="10" truespeed class="started">MATCH STARTED!</marquee>
